@use "../abstracts/breakpoints" as *;
@use "../abstracts/animations" as *;
@use "../abstracts/spacing" as *;

#loader {
    margin: auto;
    padding: $padding-medium;
    align-self: center;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    caret-color: transparent;

    @include animateSpin;

    @include mobile {
        width: 30px;
        height: 30px;
    }
}