body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #626F47;
    display: flex;
    padding: 15px;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    & a {
        color: #fff;
        margin: 0 5px;
        text-decoration: none;
    }
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #626F47;
    background-image: url(../assets/icons/menu-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 576px) {
        display: block;
    }
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    @media screen and (max-width: 576px) {
        top: 100%; 
        left: 0;
        width: 100%;
        display: none; 
        position: absolute;
        background-color: #626F47;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    &.show {
        padding: 10px 0;
        display: flex;
    }
}

.login {
    display: flex;
    align-items: center;

    @media screen and (max-width: 576px) {
        box-sizing: border-box;
        margin: 0;
        left: 20px;
        padding: 20px;
        width: 100%;
    }

    & a:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: #fff;
        text-transform: capitalize;
    }
}

#search-form {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex: 1;

    @media screen and (max-width: 576px) {
        box-sizing: border-box;
        margin: 0;
        padding: 30px 20px;
        width: 100%;
        justify-content: start;
        position: relative;

        &::before {
            content: 'Search';
            width: fit-content;
            display: block;
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }
}

input[type="text"] {
    width: 100%;
    max-width: 330px; 
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;

    @media screen and (max-width: 576px) {
        width: 100%;
        max-width: 100%;
    }
}

#search-form button[type="submit"] {
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    background-image: url('/assets/icons/search-icon.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    caret-color: transparent;
}

#search-form button[type="submit"]:hover {
    background-color: #eee;
}

main {
    padding: 20px;
}

#error-message {
    width: 100%;
    max-width: 900px;
    margin: auto;
    align-self: center;
    text-align: center;
}

.error-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
    
    @media screen and (max-width: 576px) {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

.error-message {
    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

p {
    font-size: 16px;
    
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

li {
    font-size: 14px;
    
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

h1 {
    margin: 10px 0;
    font-size: 48px;

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

h2 {
    margin: 10px 0;
    font-size: 32px;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }

    @media screen and (max-width: 576px) {
        font-size: 20px;
    }
}

h3 {
    font-size: 20px;

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

h4 {
    font-size: 12px;

    @media screen and (max-width: 768px) {
        font-size: 10px;
    }

    @media screen and (max-width: 576px) {
        font-size: 8px;
    }
}

footer {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    width: 100%;

    @media screen and (max-width: 768px) {
        padding-top: 20px;
    }

    @media screen and (max-width: 576px) {
        padding-top: 10px;
    }

    .content {
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid #ccc;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    .categories, .cuisines, .recipes, .media-links {
        padding: 0 20px;
    }

    h3 {
        margin-bottom: 30px;

        @media screen and (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 10px 0;
        text-decoration: none;
        cursor: pointer;
        color: #555;

        &:hover {
            color: #000;
        }
    }

    .media-links {
        ul {
            display: flex;
        }
    
        li:first-child {
            margin-right: 20px;
        }
    
        .github-icon {
            width: 40px;
            height: 40px;
            background-image: url('/assets/icons/github-icon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        .linkedin-icon {
            width: 40px;
            height: 40px;
            background-image: url('/assets/icons/linkedin-icon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .attribution {
        margin: 20px 0;
    }
}

.footer-bottom {
    padding: 10px 0;
    text-align: center;
}
