main {
    padding: 0;
}

#hero {
    width: 100%;
    height: calc(70vh - 70px);
    min-height: 400px;
    max-height: 800px;
    color: #fff;
    text-align: center;
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        margin: 0;
        font-size: 48px;
        font-weight: 800;
        line-height: 1;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }

    p {
        font-size: 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
}

#featured {
    height: 25vh;
    min-height: 100px;
    max-height: 300px;
    background-color: #f1f1ee;
}

.featured-card-container {
    margin: 0 auto;
    width: 100%;
    max-width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -180px;

    .card {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0;
    }
    
    .main-card {
        width: 300px;
        height: 300px;
        z-index: 1;
    }
    
    .sub-card {
        width: 250px;
        height: 250px;
    }
    
    .left{
        transform: translateX(10px);
    }
    
    .right {
        transform: translateX(-10px);
    }
}

#recipe-categories {
    height: min-content;
    padding: 60px 0;
    background-color: #fff;
}

.categories-container {
    text-align: center;

    h2 {
        font-size: 32px;
        font-weight: 800;
        color: #626F47;
    }

    p {
        font-size: 18px;
        margin-bottom: 40px;
    }
}

.categories-grid {
    margin: 0 auto;
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.category-card {
    margin: 0;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#dietary-preferences {
    height: min-content;
    padding: 60px 0;
    background-color: #f1f1ee;
}

.preferences-container {
    text-align: center;

    h2 {
        font-size: 32px;
        font-weight: 800;
        color: #626F47;
    }
    
    p {
        font-size: 18px;
        margin-bottom: 40px;
    }
}

.preferences-grid {
    margin: 0 auto;
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.preference-card {
    margin: 0;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#seasonal-recipes {
    height: min-content;
    padding: 60px 0;
    background-color: #626F47;
}

.seasonal-container {
    text-align: center;

    h2 {
        font-size: 32px;
        font-weight: 800;
        color: #fff;
    }
    
    p {
        font-size: 18px;
        margin-bottom: 40px;
        color: #fff;
    }
}

.recipe-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#main-container {
    width: 500px;
    height: 500px;
    color: #fff;

    .seasonal-card {
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        p {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
    
    .seasonal-card:hover {
        transform: scale(1.05);
    }
    
    .dish-type {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 7px 0;
    }
    
    .recipe-name {
        margin: 0;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
    }
}

#side-container {
    margin-left: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    
    .seasonal-card {
        padding: 20px;
        height: calc(50% - 5px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        p {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
    
    .seasonal-card:hover {
        transform: scale(1.05);
    }
    
    .dish-type {
        display: flex;
        justify-self: flex-start;
        align-self: flex-start;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 7px 0;
    }
    
    .recipe-name {
        margin: 0;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
    }
}