body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #626F47;
    display: flex;
    padding: 10px;
    color: #fff;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.login {
    display: flex;
    align-items: center;
}

.login a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #fff;
}

nav a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

#search-form {
    display: flex;
    justify-content: center;
    flex: 1;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;   
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

button[type="submit"] {
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-image: url('/images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    caret-color: transparent;
}

button[type="submit"]:hover {
    background-color: #cccaca;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #eee;
    width: 100%;
    margin-top: auto;
}