#favourites {
    margin: 20px auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        min-width: 330px;
    }
}

.profile-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
}

.side-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-container {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ccc;

    .profile-image {
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
        background-image: url('/images/profile-icon.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: invert(1) brightness(0) saturate(1);
    }

    h3 {
        text-transform: capitalize;
        font-weight: 200;
    }
}

.nav-item {
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &.active {
        border-left: 5px solid #626F47;
        color: #626F47;
        font-weight: 1000;
    }
}

#main-container {
    padding: 20px;
    width: 75%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe {
    background-color: #fff;
    width: calc(100% - 30px);
    min-height: 320px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    caret-color: transparent;
    transition: transform 0.3s;
    cursor: pointer;

    @media screen and (max-width: 576px) {
        width: calc(100% - 40px);
        min-height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
    }
}

.recipe:hover {
    transform: scale(1.05);
}

.recipe:hover .recipe-name {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #626F47;
}

.column {
    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
    }
}

.dish-type {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 7px 0;

    @media screen and (max-width: 576px) {
        font-size: 8px;
    }
}

.recipe-name {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-transform: capitalize;

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

.time-container {
    display: flex;
    align-items: center;
}

.clock-image {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-image: url('/images/clock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1) brightness(0) saturate(1);
}

.cooking-time {
    color: #666;
}

.recipe-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 200px;

    @media screen and (max-width: 576px) {
        width: 150px;
        max-width: 150px;
        height: 100px;
        min-width: 150px;
        margin-right: 15px;
    }
}

.recipe-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto;
    border-radius: 5px;
}

.recipe p {
    font-size: 12px;
    color: #666;

    @media screen and (max-width: 576px) {
        font-size: 8px;
    }
}
