main {
    padding: 40px 20px;
}

.popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 60px 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;

    h2, p {
        margin-bottom: 30px;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup-content button {
    padding: 10px 0;
    width: 100%;
    max-width: 120px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
 
    &.cancel {
        margin-right: 10px;
        background-color: #c0c0c0;
        border: 1px solid #c0c0c0;
    
        &:hover {
            background-color: #fff;
            color: #c0c0c0;
        }
    }

    &.confirm {
        background-color: #a10000;
        border: 1px solid #a10000;
    
        &:hover{
            background-color: #fff;
            color: #a10000;
        }
    }
}

.profile-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.side-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.welcome-container {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ccc;

    .profile-image {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        object-fit: cover;
        background-image: url('/images/profile-icon.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: invert(1) brightness(0) saturate(1);
    }

    h3 {
        text-transform: capitalize;
        font-weight: 200;
    }
}

.nav-item {
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
        color: #626F47;
    }

    &.active {
        border-left: 5px solid #626F47;
        color: #626F47;
        font-weight: 600;

        &:hover {
            background-color: transparent;
        }
    }
}

#main-container {
    padding: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    
    h2 {
        margin-bottom: 20px;
        padding: 10px 0;
        color: #626F47;
    }
    
    @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
    }
}

#personal-info-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    label {
        margin: 10px 0;
        border-radius: 10px;
    }

    input {
        max-width: 100%;
        width: 100%;
        font-size: 12px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #252525;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 20px 0;

    #logout-button {
        padding: 10px 20px;
        justify-self: flex-end;
        background-color: #626F47;
        color: #fff;
        border: 1px solid #626F47;
        border-radius: 5px;
        cursor: pointer;
    
        &:hover {
            background-color: #fff;
            color: #626F47;
        }
    }
    
    #delete-button {
        margin-left: 20px;
        padding: 10px 20px;
        background-color: #a10000;
        color: #fff;
        border: 1px solid #a10000;
        border-radius: 5px;
        cursor: pointer;
    
        &:hover{
            background-color: #fff;
            color: #a10000;
        }
    }
}

.update-section {
    margin-bottom: 20px;

    label {
        margin: 15px 0;
        border-radius: 10px;
    }

    input {
        width: 100%;
        max-width: 500px;
        font-size: 12px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #252525;
        border-radius: 5px;
        box-sizing: border-box;

        &.error {
            border: 2px solid #a10000;
        }
    }

    .input-container {
        display: flex;
        align-items: center;
    }

    .display {
        margin: 5px 0;
        width: 100%;
        max-width: 500px;
        padding: 10px;
        font-size: 12px;
        border: 1px solid #252525;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .edit-button {
        margin-left: 10px;
        padding: 5px 10px;
        border: 1px solid #626F47;
        background-color: #626F47;
        color: white;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            color: #626F47;
            background-color: #fff;
        }
    }

    .edit-field {
        display: flex;
        align-items: center;

        input {
            margin: 5px 0;
        }

        .save-button {
            margin: 0 7px;
            padding: 5px 10px;
            border: 1px solid #626F47;
            background-color: #626F47;
            color: white;
            border-radius: 5px;
            cursor: pointer;    

            &:hover {
                color: #626F47;
                background-color: #fff;
            }
        }
            
        .cancel-button {
            padding: 5px 10px;
            border: 1px solid #a10000;
            background-color: #a10000;
            color: white;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                color: #a10000;
                background-color: #fff;
            }
        }
    } 

    .edit-field.hidden {
        display: none;
    }
    
    .error-message {
        margin: 0;
        color: red;
        font-size: 15px;
        display: none; 
    }
    
    .error-message.visible {
        display: block;
    }
}

#favourites {
    margin: 20px auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        min-width: 330px;
    }
}

.recipe {
    background-color: #fff;
    width: calc(100% - 30px);
    min-height: 320px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    caret-color: transparent;
    transition: transform 0.3s;
    cursor: pointer;

    @media screen and (max-width: 576px) {
        width: calc(100% - 40px);
        min-height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
    }
}

.recipe:hover {
    transform: scale(1.05);
}

.recipe:hover .recipe-name {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #626F47;
}

.column {
    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
    }
}

.dish-type {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 7px 0;

    @media screen and (max-width: 576px) {
        font-size: 8px;
    }
}

.recipe-name {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-transform: capitalize;

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

.time-container {
    display: flex;
    align-items: center;
}

.clock-image {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-image: url('/images/clock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1) brightness(0) saturate(1);
}

.cooking-time {
    color: #666;
}

.recipe-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 200px;

    @media screen and (max-width: 576px) {
        width: 150px;
        max-width: 150px;
        height: 100px;
        min-width: 150px;
        margin-right: 15px;
    }
}

.recipe-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto;
    border-radius: 5px;
}

.recipe p {
    font-size: 12px;
    color: #666;

    @media screen and (max-width: 576px) {
        font-size: 8px;
    }
}
