body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    margin: 0;
    max-width: 300px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}

button[type="submit"] {
    margin: 0;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}

button[type="submit"]:hover {
    background-color: #f4f4f4;
}

#error-message {
    width: 100%;
    max-width: 900px;
    margin: auto;
    align-self: center;
    text-align: center;
}

.error-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
    
    @media screen and (max-width: 576px) {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

.error-message {
    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.recipe-container {
    max-width: 800px;
    margin: 0 auto;
}
#recipe-image {
    width: 100%;
    max-width: 800px;
    height: auto;
}

#recipe-name {
    text-transform: capitalize;
}

#recipe-details {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #eee;
    width: 100%;
    margin-top: auto;
}