@use '../abstracts/breakpoints' as *;
@use '../abstracts/animations' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/gradients' as *;
@use '../abstracts/shadows' as *;
@use '../abstracts/spacing' as *;
@use '../components/cards' as *;
@use '../base/typography' as *;

header {
    padding: 20px;
    z-index: 1000;
    background-color: $color-primary;
    color: $color-white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $shadow-nav;

    a {
        color: $color-white;
        margin: 0 5px;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: $color-white;
        text-transform: capitalize;
    }
}

nav {
    margin: 0 auto;
    width: 100%;
    max-width: $main-width;
    display: flex;
    align-items: center;

    .logo {
        width: 100%;
        max-width: 300px;
        height: auto;

        @include tablet {
            max-width: 250px;
        }

        @include mobile {
            max-width: 200px;
        }
    }

    .menu-toggle {
        margin-right: 25px;
        width: 24px;
        height: 24px;
        display: none;
    
        @include responsive {
            display: block;
        }
        
        &.show {
            display: block;
        }

        img {
            width: inherit;
            height: inherit;
        }
    }
}

.menu, .main-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive {
        top: 100%; 
        left: 0;
        width: 100%;
        position: absolute;
        flex-direction: column;
        background-color: $color-primary;
        box-shadow: $shadow-nav;

        .main-menu {
            opacity: 0;
            height: 0;
            position: absolute;
            transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
            overflow: hidden;
        }
    }

    &.show {
        @include responsive {
            display: flex;
            opacity: 1;
        }

        .main-menu {
            @include responsive {
                display: flex;
                height: 456px;
                opacity: 1;
            }
        }
    }
}

#search-form {
    margin: 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    @include responsive {
        margin: 0;
        padding: 20px;
        order: -1;
    }

    input {
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        max-width: 420px;
        border: none;
        outline: none;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;

        @include responsive {
            max-width: 100%;
        }
    }

    button {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 0 5px 5px 0;
        background-color: $color-white;
        background-image: url('../assets/icons/search-icon.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        caret-color: transparent;
    }

    button[type="submit"]:hover {
        background-color: $color-white-hover;
    }
}

.login {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    white-space: nowrap;

    @include responsive {
        padding: 20px;
        width: 100%;
        justify-content: start;
        box-sizing: border-box;
        order: 1;
    }
}

body.scrolled .dropdown-container:not(.show) {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.dropdown-container {
    margin: 0 auto;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    top: 99%;
    left: 0;
    background-color: $color-primary;
    height: 75px;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    box-shadow: $shadow-nav;
    
    @include responsive {
        display: none;
    }
}

.dropdown-list {
    width: 100%;
    max-width: $main-width;
    display: flex;
    align-items: center;
    gap: 40px;

    .dropdown {
        font-size: 14px;
        font-weight: $font-semibold;
        color: $color-white;
        text-transform: uppercase;

        img {
            display: none;
        }
    }

    .dropdown-item {
        padding: 10px 0;
        position: relative;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-white;
            
            .sub-menu {
                display: flex;

                @include responsive {
                    display: none;
                }
            }

            .dropdown-list {
                text-decoration: underline;
                text-decoration-color: $color-white;
            }
        }

        .sub-menu:hover {
            display: flex;
        }
    }

    .sub-menu {
        color: $color-white;
        min-width: fit-content;
        position: absolute;
        top: 100%;
        left: -20px;
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: $color-primary;

        li {
            padding: 0;
            min-width: 150px;

            &:first-child {
                margin-top: 10px;
            }

            &:hover {
                cursor: pointer;
                background-color: $color-primary-hover;
            }
        }
        
        p {
            padding: 15px 20px;
        }
    }
}

.sub-menu-container {
    padding: 20px 40px;
    width: 100%;
    display: none;
    flex-direction: column;

    .back-btn {
        margin-right: 10px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        font-size: 24px;
        font-weight: $font-semibold;

        &:hover {
            img {
                @include animateMoveLeft
            }
        }

        img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }

    .sub-menu {
        width: 100%;
        color: $color-white;
        display: flex;
        flex-direction: column;
        background-color: $color-primary;

        li {
            margin: 0;
            padding: 0;
        }
        
        p {
            width: fit-content;
            margin: 20px 0;
            padding: 0;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $color-white;
                cursor: pointer;
            }
        }
    }
}

// When menu button is clicked
.dropdown-container.show {
    padding: 0 20px;
    box-shadow: $shadow-nav;

    @include responsive {
        box-shadow: none;
        height: fit-content;
        position: static;
        display: flex;
        order: 0;

        .dropdown-item {
            padding: 15px 0;
            width: 100%;
            border-bottom: $color-border;

            &:hover {
                cursor: pointer;
            }
        }
    
        .dropdown-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0;
        }

        .dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            img {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }
}