@use '../abstracts/breakpoints' as *;
@use '../abstracts/animations' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/gradients' as *;
@use '../abstracts/shadows' as *;
@use '../abstracts/spacing' as *;
@use '../components/cards' as *;
@use '../base/typography' as *;

nav {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: $shadow-heavy;

    a {
        color: $color-white;
        margin: 0 5px;
    }
}

.navbar-container-top {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: $main-width;
    display: flex;
    align-items: center;

    .logo {
        width: 100%;
        min-width: max-content;
    }

    .menu-toggle {
        margin-right: 25px;
        width: 24px;
        height: 24px;
        display: none;
    
        @include responsive {
            display: block;
        }

        img {
            width: inherit;
            height: inherit;
        }
    }
    
    .menu {
        width: 100%;
        display: flex;
        
        @include responsive {
            top: 100%; 
            left: 0;
            width: 100%;
            display: none; 
            position: absolute;
            background-color: $color-primary;;
            flex-direction: column;
            box-shadow: $shadow-heavy;
        }
    
        &.show {
            padding: 10px 0;
            display: flex;
        }
    }
    
    #search-form {
        width: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        flex: 1;
    
        @include responsive {
            box-sizing: border-box;
            margin: 0;
            padding: 30px 20px;
            width: 100%;
            justify-content: start;
            position: relative;
    
            &::before {
                content: 'Search';
                width: fit-content;
                display: block;
                position: absolute;
                top: 5px;
                left: 20px;
            }
        }

        input {
            width: 100%;
            max-width: 420px;
            border: none;
            outline: none;
            border-radius: 5px 0 0 5px;
            padding-left: 10px;
        
            @include responsive {
                max-width: 100%;
            }
        }
        
        button {
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            border-radius: 0 5px 5px 0;
            background-color: #fff;
            background-image: url('../assets/icons/search-icon.png');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            caret-color: transparent;
        }
        
        button[type="submit"]:hover {
            background-color: #eee;
        }
    }
    
    .login {
        display: flex;
        align-items: center;
        text-transform: capitalize;
    
        @include responsive {
            box-sizing: border-box;
            left: 20px;
            padding: 20px;
            width: 100%;
        }
    
        & a:hover {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: $color-white;
            text-transform: capitalize;
        }
    }
}

body.scrolled .navbar-container-bottom {
    max-height: 0;
    opacity: 0;
}

.navbar-container-bottom {
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-width: $main-width;
    overflow: hidden;
    max-height: 200px;
    opacity: 1;
    z-index: 900;

    @include responsive {
        display: none;
    }

    .nav-items {
        display: flex;
        gap: 40px;
        align-items: center;

        .dropdown {
            font-weight: $font-semibold;
            color: $color-white;
            text-transform: uppercase;
        }

        li {
            padding: 10px 0;
            position: relative;
            &:hover {
                .sub-menu {
                    display: flex;
                }

                .dropdown {
                    text-decoration: underline;
                    text-decoration-color: $color-white;
                }
            }

            .sub-menu:hover {
                display: flex;
            }
        }
    }

    .sub-menu {
        min-width: fit-content;
        position: absolute;
        top: 100%;
        left: -20px;
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: $color-primary;

        li {
            min-width: 150px;
            padding: 10px 20px;

            &:first-child {
                margin-top: 10px;
            }

            &:hover {
                cursor: pointer;
                background-color: $color-primary-hover;
            }
        }
    }
}