@use '../abstracts/breakpoints' as *;
@use '../abstracts/animations' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/gradients' as *;
@use '../abstracts/shadows' as *;
@use '../abstracts/spacing' as *;
@use '../components/cards' as *;
@use '../base/typography' as *;

.register-page {
    main {
        display: flex;

        @include responsive {
            flex-direction: column;
        }
    }

    .header-logo {
        padding: 10px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;

        @include responsive {
            display: flex;
        }

        .logo {
            width: 100%;
            max-width: 250px;
            height: auto;
    
            @include mobile {
                max-width: 200px;
            }
        }
    }

    .background-image {
        width: 50%;
        min-height: 100vh;
        object-fit: cover;

        @include tablet {
            width: 100%;
            height: 200px;
            min-height: 200px;
        }

        @include mobile {
            width: 100%;
            height: 100px;
            min-height: 100px;
        }
    }
    
    #register {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include responsive {
            margin: 0 auto;
            padding: 20px;
            height: 100%
        }
    }

    .logo-container {
        margin: 40px 0;
        width: 100%;
        max-width: 300px;
        display: flex;
        justify-content: start;

        @include responsive {
            display: none;
        }

        .logo {
            width: 250px;
            height: auto;
        }
    }

    #register-form {
        margin-bottom: 40px;
        width: 100%;
        max-width: 300px;
    }

    #register-form h2 {
        margin-bottom: 20px;

        @include responsive {
            text-align: center;
        }
    }
    
    #register-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    #register-form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: $color-border;
        border-radius: 5px;
        box-sizing: border-box;

        &.error {
            margin-bottom: 0;
            border: 2px solid #a10000 !important;
        }
    }
    
    #register-form button[type="submit"] {
        margin: 10px 0;
        width: 100%;
        padding: 10px;
        background-color: $color-primary;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    
    #register-form button[type="submit"]:hover {
        background-color: $color-primary-hover;
    }

    a {
        text-decoration: underline;
    }

    .error-message {
        margin-bottom: 4px;
        color: #a10000;
    }
}