$color-primary: #626F47;
$color-primary-hover: #4c5a2f;

$color-secondary: #f1f1f1;

$color-white: #fff;
$color-black: #000;
$color-gray: #666;
$color-text: #555;

$color-border: #ccc solid 1px;

$color-text-shadow: rgba(0, 0, 0, 0.5);