$spacing-section: 50px;
$spacing-section-mobile: 30px;

$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;

$vertical-padding-small: 10px 0;
$vertical-padding-medium: 20px 0;
$vertical-padding-large: 40px 0;

$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 40px;

$main-width: 1200px;